//フォントファミリーの設定 
$title__font__family: Montserrat;
$second__font__family: Yu Gothic;
//色の設定----------
//数字が少ないほど濃い
//メインカラー
$color-w:#FFFFFF;
$color-wd:#CECDCD;
$color-dw-:#707070;
$color-dark: #3E3E3E;
$color-gray: #E3E3E3;
//アコーディオン背景
$color-blue: #3B69FF;
//ボタン背景色
$color-yellow: #FFAA3B;
//「必須背景」
$color-red: #FF4646;
//ニュースアイコンカラー

