@charset "UTF-8";
/*ローディングアニメーション*/
.loader_screen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(38, 38, 38, 0.95);
}

.loader,
.loader:before,
.loader:after {
  background: #ec934b;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #ec934b;
  text-indent: -9999em;
  margin: 88px auto;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em;
  }
}

.hover-scale-up {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hover-scale-up:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

[data-zoom-up] {
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

[data-zoom-up].data-zoom-up {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

[data-fadeIn] {
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

[data-fadeIn].is-over {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

[data-fadeId-right] {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  /* 最初は元の位置より左にずらしておく */
  opacity: 0;
  /* 最初は非表示にしておく */
  -webkit-transition: opacity 1s, -webkit-transform 0.4s;
  transition: opacity 1s, -webkit-transform 0.4s;
  transition: opacity 1s, transform 0.4s;
  transition: opacity 1s, transform 0.4s, -webkit-transform 0.4s;
  /* 透明度と位置を設定 */
}

/* 条件を満たしたあとに追加するクラス */
[data-fadeId-left].is-over {
  opacity: 1;
  /* 表示させる */
  -webkit-transform: translateX(0);
          transform: translateX(0);
  /* 位置を最初の位置に戻す */
}

[data-fadeId-left] {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  /* 最初は元の位置より左にずらしておく */
  opacity: 0;
  /* 最初は非表示にしておく */
  -webkit-transition: opacity 1s, -webkit-transform 0.4s;
  transition: opacity 1s, -webkit-transform 0.4s;
  transition: opacity 1s, transform 0.4s;
  transition: opacity 1s, transform 0.4s, -webkit-transform 0.4s;
  /* 透明度と位置を設定 */
}

/* 条件を満たしたあとに追加するクラス */
[data-fadeId-right].is-over {
  opacity: 1;
  /* 表示させる */
  -webkit-transform: translateX(0);
          transform: translateX(0);
  /* 位置を最初の位置に戻す */
}

[data-fadeId-bottom] {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  /* 最初は元の位置より左にずらしておく */
  opacity: 0;
  /* 最初は非表示にしておく */
  -webkit-transition: opacity 1s, -webkit-transform 0.4s;
  transition: opacity 1s, -webkit-transform 0.4s;
  transition: opacity 1s, transform 0.4s;
  transition: opacity 1s, transform 0.4s, -webkit-transform 0.4s;
  /* 透明度と位置を設定 */
}

/* 条件を満たしたあとに追加するクラス */
[data-fadeId-bottom].is-over {
  opacity: 1;
  /* 表示させる */
  -webkit-transform: translateY(0);
          transform: translateY(0);
  /* 位置を最初の位置に戻す */
}

[data-fadeId-top] {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  /* 最初は元の位置より左にずらしておく */
  opacity: 0;
  /* 最初は非表示にしておく */
  -webkit-transition: opacity 1s, -webkit-transform 0.4s;
  transition: opacity 1s, -webkit-transform 0.4s;
  transition: opacity 1s, transform 0.4s;
  transition: opacity 1s, transform 0.4s, -webkit-transform 0.4s;
  /* 透明度と位置を設定 */
}

/* 条件を満たしたあとに追加するクラス */
[data-fadeId-top].is-over {
  opacity: 1;
  /* 表示させる */
  -webkit-transform: translateY(0);
          transform: translateY(0);
  /* 位置を最初の位置に戻す */
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position: relative;
  overflow: hidden;
}

[rotateIn] {
  -webkit-animation: rotateIn 0.9s infinite;
          animation: rotateIn 0.9s infinite;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

/* CSS to-top-btn ==========================*/
.to-top-btn {
  position: fixed;
  right: 30px;
  bottom: -100px;
  background: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  color: #000;
  font-size: 22px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.to-top-btn img {
  width: 60px;
  height: 60px;
}

.to-top-btn.is-over {
  bottom: 30px;
}

.to-top-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=animation.css.map */